.circular-progress-bar {
    transform: rotate(-90deg);
    margin: 10px;
  }
  
  .circular-progress-bar__background {
    fill: none;
    stroke: #a71919;
  }
  
  .circular-progress-bar__progress {
    fill: none;
    stroke: #886e04;
    transition: stroke-dashoffset 0.3s ease-in-out;
  }
  