@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

#ueberschrift {
  color: white;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.movie_container {
  padding-top: 20rem;

}

.movie_card {
  position: relative;
  display: block;
  width: 800px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  background-color: black;

  &:hover {
    transform: scale(1.02);
    transition: all 0.4s;
  }

  .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    border-radius: 10px;
    display: block;

    .movie_header {
      position: relative;
      padding: 25px;
   
      width: 100%;

      h1 {
        color: #fff;
        font-weight: 400;
      }

      h4 {
        color: #9ac7fa;
        font-weight: 400;
      }

      .minutes {
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 0;
        border-radius: 5px;
        border: 1px solid rgba(199, 0, 0, 0.13);
      }

      .type {
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }


    }

    .movieImg {
      position: relative;
      float: left;
      margin-right: 15px;
      box-shadow: 0 0 20px -10px rgba(190, 13, 13, 0.5);
      height: 100px;
    }

    .movie_desc {
      padding: 20px;
      height: 15%;

      .text {
        color: #cfd6e1;
        font-size: 16px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        margin-top: 10px;
      }
    }

    .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          color: rgba(0, 0, 0, 0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;

          &:hover {
            transition: color 0.3s;
            color: rgba(255, 255, 255, 0.8);
          }

          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }

  #directorHeader {
    font-size: 20px;
  }

  // #header2 {
  //   margin: 0px 0px 0px 0px;

  // }

  #movie_title {
    font-size: 1.5rem;
  }



  #imdb_icon {
    margin-left: 30px;
  }

  #star {
    display: inline;
    color: #F0DE00;
    font-size: 40px;
    margin-left: 15px;
  }

  #score {
    font-size: 30px;
    color: white;
    display: inline-block;
    margin-left: 8px;
  }
}

.arrow_design {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 10px;

}



//responsive

@media screen and (min-width: 768px) {
  .movie_header {
    width: 90%;
    height: 25%;
  }

  .movie_desc {
    width: 100%;
  }

  .movieImg {
    height: 125px;
    width: 180px;
  }

  // .info_section {
  //   background: #000000c0;
  // }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }

  .icon_design {
    margin-top: 200px;
    padding: 5px;
  }
}

//responsive Mobile

@media screen and (max-width: 768px) {
  .movie_container {
    padding-top: 10px;

  }

  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 550px;
    height: 650px;

    #movie_title {
      font-size: 1.0rem;
    }

    #directorHeader {
      font-size: .7rem;
    }

    .minutes {
      font-size: 12px;
    }
  }

  .movie_header {
    width: 100px;
    padding: 15px;
  }


  .movieImg {
    width: 85px;
  }

  .arrow_design {
    margin-top: -50px;
  }

  .icon_design {
    margin-top: 470px;
  }

  // #synopsisText {
  //   margin-top: 50px;
  // }


  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 10px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: #00000054;
    display: inline-grid;
  }

  #icon_design_position {
    margin-top: -120px;
  }

  .type {

    font-size: 12px;
  }
}

#backgroundshadow {
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);

  &:hover {
    box-shadow: 0px 0px 120px -55px rgba(43, 71, 231, 0.5);

  }
}