.sidebar {
    // background-image: linear-gradient(45deg,
    //         hsl(0deg 0% 0%) 0%,
    //         hsl(249deg 100% 6%) 11%,
    //         hsl(252deg 94% 7%) 22%,
    //         hsl(251deg 80% 7%) 33%,
    //         hsl(250deg 68% 8%) 44%,
    //         hsl(248deg 59% 9%) 56%,
    //         hsl(246deg 51% 10%) 67%,
    //         hsl(243deg 46% 11%) 78%,
    //         hsl(241deg 42% 12%) 89%,
    //         hsl(240deg 40% 12%) 100%);
    background-image: linear-gradient(45deg,
            hsl(0deg 100% 17%) 0%,
            hsl(353deg 100% 18%) 0%,
            hsl(346deg 100% 18%) -1%,
            hsl(340deg 100% 18%) 0%,
            hsl(333deg 100% 18%) 0%,
            hsl(324deg 100% 17%) 2%,
            hsl(311deg 100% 16%) 5%,
            hsl(293deg 100% 15%) 9%,
            hsl(272deg 100% 18%) 19%,
            hsl(240deg 100% 20%) 99%);
    height: 100%;
    width: 15rem;
    z-index: 999;
    margin-left: -15rem;
    position: fixed;
    transition: all 0.80s;
    font-size: 22px;

    &.is-active {
        margin-left: 0;
    }
}

.hamburger {
    transform: rotate(-90deg);
    z-index: 1;
    position: absolute;
    transition: all 0.50s;
    cursor: pointer;
    margin: 10px 20px;

    &.dark {
        color: white;
    }
}

.hamburger:hover {
    transform: rotate(0);

}

.items {
    color: white;
    cursor: pointer;
    list-style: none;
    padding: 10px 20px;
}

.item {
    margin-top: 10px;
}

.item:hover {
    color: rgb(255, 0, 0);
}

.subitems {
    list-style: none;

}

.subitem {
    margin-top: 10px;
    margin-left: 10px;

}

.subitem:hover {
    color: rgb(148, 28, 28);
}

.subitem a {
    color: white;
    text-decoration: none;
}

// .subitem a:hover{
//     color: red;
// }

.closeBtn {
    color: white;
    cursor: pointer;
    margin: 10px 180px
}

.icons {
    float: left;
    margin-right: 10px;
    margin-top: 3px;

}

.sub_icons {
    float: left;
    margin: 5px 10px 0px 20px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: red;
}

.arrow{
    display: inline;
    margin-left: 5px;
}

@media (max-width: 768px) {

}